@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@layer base {
    button,
    img {
        outline: none;
    }

    html {
        @apply font-poppins;
        @apply text-black;
        @apply bg-slate-100;
    }

    h1 {
        @apply my-2.5;
        @apply text-text;
        @apply text-4xl sm:text-5xl md:text-6xl lg:text-7xl;
        @apply leading-[48px] sm:leading-[64px] md:leading-[70px] lg:leading-[90px];
        @apply font-medium;
    }

    h2 {
        @apply my-5;
        @apply text-3xl md:text-4xl lg:text-5xl;
        @apply leading-[62px];
        @apply font-medium;
    }

    h3 {
        @apply text-2xl;
        @apply leading-10
    }

    p {
        @apply text-base lg:text-lg;
        @apply leading-8;
        @apply font-light;
    }
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slide-up {
    animation-name: slide-up;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
}

.btn {
    @apply px-6 py-4;
    @apply rounded-lg;
    @apply transition-opacity duration-300 hover:opacity-50;
}
